<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585701178854-4aosm1l0fqu0arj1h1kl5b3ce1ao2tn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585701178854-4aosm1l0fqu0arj1h1kl5b3ce1ao2tn7</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ0UrSKQoexPUvqT_hb-b0hF1CMDUxBZs</string>
	<key>GCM_SENDER_ID</key>
	<string>585701178854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.fibra</string>
	<key>PROJECT_ID</key>
	<string>testing-244615</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-244615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585701178854:ios:b59974198c9de047766a27</string>
</dict>
</plist>